<!--<div class="text-center">
  <h1 class="text-5xl text-green-500 font-bold text-teal-500">Current Users</h1>
    <% @users.each do |user| %>
      <ul class= "text-indigo-500">
        <li><%= link_to user.name, "/users/#{user.id}" %></li>
      </ul>
    <%end %>
</div>-->

<div class="text-center text-2xl text-white font-bold bg-gray-900">
  <p>Welcome to your one-stop shop for organizing movie nights with friends</p>
  <br>
  <p> Log in or create an account to create events and discover movies</p>


  </div>
</div>